<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Ismile Technologies</title>
  <meta content="" name="descriptison">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="static/img/favicon.png" rel="icon">
  <link href="static/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/vendor/icofont/icofont.min.css" rel="stylesheet">
  <link href="static/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="static/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="static/vendor/line-awesome/css/line-awesome.min.css" rel="stylesheet">
  <link href="static/vendor/owl.carousel/static/owl.carousel.min.css" rel="stylesheet">
  <link href="static/vendor/venobox/venobox.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="static/css/style.css" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <style>
  .boxed{
      border: 1px solid;
      text-align: center;
      font-size: 80%;
      background-color: rgba(21, 5, 23, 0.85) ;
      margin-left: 25%;
      margin-right: 30%;
      margin-top: 3%;
      padding: 10px 50px 10px 50px;
      color: aliceblue;
    }
  .current{

  }  
  </style>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <script>
    function showPosition() {
        if(navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function(position) {
                //var positionInfo = "Your current position is (" + "Latitude: " + position.coords.latitude + ", " + "Longitude: " + position.coords.longitude + ")";
                //document.getElementById("result").innerHTML = positionInfo;
                console.log(position.coords.latitude)
                coordinates=[position.coords.latitude, position.coords.longitude]
                var speech = new SpeechSynthesisUtterance();
                speech.text = 'according to your given location we have found this for you';
                window.speechSynthesis.speak(speech);
                $.ajax({
                        type: 'POST',
                        url: '/user_loc',
                        data: JSON.stringify (coordinates),
                        contentType: "application/json",
                        dataType: 'json',
                        cache: false,
				                processData: false,
			                	async: true,
                        success: function (data) {
                          // Get and display the result
                          //$('.loader').hide();
                          //$('#result').fadeIn(600);
                          //$('#result').text(' Result:  ' + data);
                          result();
                        },

                    });
                    
            });
        } else {
            alert("Sorry, your browser does not support HTML5 geolocation.");
        }
    }
  function result(){
    console.log('in resultpage');
    window.location.href='{{ url_for( 'resultPage') }}';
  }
</script>
</head> 

<body>

  <!-- ======= Header ======= -->
  <header id="header">
    <div class="container-fluid d-flex align-items-center justify-content-between">

      <h1 class="logo"><a href="">Ismile COVID ANALYSER</a></h1>
      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li class="active"><a href="https://mainwebui.azurewebsites.net/">Home</a></li>
     

        </ul>
      </nav><!-- .nav-menu -->

     
  </header><!-- End Header -->

  <main id="main">



    <!-- ======= Portfolio Details Section ======= -->
     <div class = "container">
	
		<div class="boxed col-lg-6" >
         <h2> Nearby Hospitals Locator </h2>
  
      </div>
	<br>
	<form action="{{url_for('thank_you')}}" method="post">
		<div class="card">
			<div class="card-body mt-3" id="btn-predict" >
				<label for="last" style="margin-left: 30%">Please enter your location</label>
          <input type="text" name="loc">
      </div>
      <input onclick="start()" class ="btn btn-primary btn-lg" type="submit" value="Submit" style="background-color: #ff7f5d;margin-left: 40%;margin-right: 40%;">
    
		</div>
		
  </form>
  <!--<button class="btn btn-primary btn-lg " style="background-color:#ff7f5d;" onclick="getLocation()">Use my current location</button>-->

  <div class = "container current">

      <div class="card-body mt-3">
          <h2 style="margin-left: 47%">OR</h2>
          <br>
          <button class = "btn btn-primary btn-lg" type="button" style="background-color:#ff7f5d; margin-left: 38%"  onclick="showPosition();">Use my current location</button>
        </div>
  
  </div>
<script>
  function start(){
        var speech = new SpeechSynthesisUtterance();
        speech.text = 'according to your given location we have found this for you';
        window.speechSynthesis.speak(speech);
}
</script>
  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="footer-top">

      <div class="container">
        <div class="row  justify-content-center">
          <div class="col-lg-6">
            <h3>Ismile COVID ANALYSER</h3>
            <p>The Ismile COVID ANALYSER is a UI product developed by the ismile technologies. It uses advanced technical models to provide you with the best estimate detection for the symptoms of COVID in your body. </p>
                        <br>
            <div id="quoteDisplay">
               <!--Quotes will Display here -->
               <body onLoad="newQuote();">
            </div>

        

  <div id="preloader"></div>
  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

  <!-- Vendor JS Files -->
  <script src="static/vendor/jquery/jquery.min.js"></script>
  <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="static/vendor/jquery.easing/jquery.easing.min.js"></script>
  <script src="static/vendor/php-email-form/validate.js"></script>
  <script src="static/vendor/waypoints/jquery.waypoints.min.js"></script>
  <script src="static/vendor/counterup/counterup.min.js"></script>
  <script src="static/vendor/jquery-sticky/jquery.sticky.js"></script>
  <script src="static/vendor/owl.carousel/owl.carousel.min.js"></script>
  <script src="static/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="static/vendor/venobox/venobox.min.js"></script>

  <!-- Template Main JS File -->
  <script src="static/js/main.js"></script>

</body>

</html>


